.sidebar {
  width: 230px;
  height: 100vh;

  position: sticky;
  top: 0;

  background: white;

  padding: 25px 20px;

  display: flex;
  flex-direction: column;

  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);

  flex-shrink: 0;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  flex: 1;
}

.signout {
  margin-top: auto;
}

.logo {
  color: #6a5af9;
  margin-bottom: 30px;
  font-size: 20px;
}



.menu li {
  padding: 12px 14px;
  margin-bottom: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.menu li:hover {
  background: #eef0ff;
}

.menu .active {
  background: #eef0ff;
  color: #6a5af9;
  font-weight: 600;
}



.signout:hover {
  background: #f3f3f3;
}

.layout {
  display: flex;
  min-height: 100vh;
}