.project-details{
    max-width:900px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.project-details h1{
    margin-bottom:15px;
}

.project-details h3{
    margin-top:25px;
}

.chips{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.chip{
    background:#e9f2ff;
    padding:8px 14px;
    border-radius:20px;
    font-size:14px;
}